*.csv filter=lfs diff=lfs merge=lfs -text

# Marcar archivos generados para que no cuenten en las estadísticas
dashboard.html linguist-generated
dashboard_files/** linguist-generated
estilo.scss linguist-documentation
